* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  /* border: 1px solid red; */
}
body {
  font-family: monospace;
  background: linear-gradient(
    90deg,
    rgba(3, 1, 32, 1) 0%,
    rgba(65, 65, 159, 1) 65%,
    rgba(0, 136, 164, 1) 100%
  );
}

/* Navbar */
nav {
  background-color: #0082e6;
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 3;
}
label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0;
  padding-left: 100px;
  font-weight: bold;
  animation: slidetop 1s ease forwards;
}
label.logo span a {
  color: white;
}
nav ul {
  float: right;
  margin-right: 80px;
}
nav ul li {
  display: inline-block;
  line-height: 75px;
  margin: 0 5px;
}
nav ul li a {
  color: white;
  font-size: 20px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  animation: slideright 1.5s ease forwards;
}
a.active,
a:hover {
  background: #1b9bff;
}
.cheakbtn {
  font-size: 30px;
  color: white;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
  float: right;
}
#cheak {
  display: none;
}

/* Home Section  */
.home_section {
  display: flex;
  width: 100%;
  height: 48em;
  align-items: center;
  justify-content: space-evenly;
  
  /* background: linear-gradient(
    90deg,
    rgba(3, 1, 32, 1) 0%,
    rgba(65, 65, 159, 1) 65%,
    rgba(0, 136, 164, 1) 100%
  ); */
}
.profile {
  animation: float 3s ease-in-out infinite;
}
.profile img {
  width: 300px;
  border-radius: 20em;
  border: 2px solid white;
  animation: slideright 1.5s ease-in-out;
}
.content {
  color: white;
  animation: slideleft 1.5s ease-in-out;
}
.content > h1 {
  font-size: 4em;
  font-family: "Libre Franklin", sans-serif;
}
.content > h3 {
  font-size: 1.9em;
  font-family: "Inconsolata", monospace;
}
.multi-headline {
  color: #00c8ff;
}
.social_media {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
  padding: 1em;
}
.social_media > p {
  font-size: 1.5em;
  font-weight: bold;
}
.links {
  display: flex;
  column-gap: 3em;
}
.links a {
  color: white;
  font-size: 2em;
}
.link {
  display: inline-flex;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  outline: 2px solid white;
  transition-property: outline-offset, outline-color, background-color;
  transition-duration: 0.25s;
}
.link:hover {
  outline-offset: 4px;
}
.links a:nth-child(1):hover {
  background: linear-gradient(
    360deg,
    rgba(200, 232, 26, 1) 0%,
    rgba(207, 23, 23, 1) 40%,
    rgba(255, 0, 190, 1) 100%
  );
}
.links a:nth-child(2):hover {
  background-color: rgb(19, 19, 19);
}
.links a:nth-child(3):hover {
  background-color: rgb(10, 49, 169);
}
.links a:nth-child(5):hover {
  background-color: rgb(255, 255, 255);
  color: rgb(75, 75, 255);
}
.link i {
  margin: auto;
}

.link i:hover {
  animation: shake 0.25s;
}
.social_media > a {
  text-decoration: none;
  background: none;
  font-size: 1.5em;
  color: white;
  margin-top: 25px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  /* background-color: rgba(0, 255, 213, 0.388); */
  background-color: rgba(3, 159, 255, 0.486);
  padding: 10px 20px;
  border-radius: 20px;
  transition: 0.25s;
  border: 1px solid white;
}
.social_media > a:hover {
  outline-offset: 4px;
  /* box-shadow: 50x 5px 10px white; */
  background-color: rgba(0, 255, 213, 0.767);
  font-size: 1.6em;
  box-shadow: 3px 3px 10px white;
}
/* Services Section  */
#services{
  /* background-color: black; */
}
.services {
  max-width: 100%;
  margin: 0 auto;
  /* padding: 50px 0; */
  text-align: center;
}
.services h1{
  width: 50%;
  font-size: 4em;
  color: white;
  font-weight: bold;
}
.ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.li {
  width: 80%;
  margin: 20px;
  padding: 30px;
  color: white;
  font-weight: bold;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.342);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.li h3 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: rgb(19, 220, 255);
}

.li p {
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
}
/* Skills Section  */
.skills {
  text-align: center;
  color: white;
  /* margin: 50px auto; */
}
.skills h1{
  width: 50%;
  font-size: 4em;
  color: white;
  font-weight: bold;
}

.skillset {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.skill {
  width: 400px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: rgba(0, 0, 0, 0.342);
  border-radius: 5px;
  box-shadow: 0px 2px 5px #ccc;
  transition: transform 0.5s ease-in-out;
}

.skill:hover {
  transform: translateX(20px);
}

.skill h3 {
  margin: 0 0 10px 0;
}

.progress-bar {
  width: 100%;
  height: 20px;
  background-color: #eeeeee61;
  border-radius: 10px;
  margin-bottom: 10px;
}

.progress {
  height: 100%;
  background-color: #00d0ff;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  font-size: 1.3em;
  font-weight: bold;
}

/* Contact Section  */
.contact {
  display: flex;
  column-gap: 1em;
  align-items: center;
  width: 80%;
  margin: auto;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 50px;
}
.message{
  display: flex;
  flex-direction: column;
  row-gap: 3em;
  width: 50%;
  padding: 10px;
}
.message h1{
  color: white;
  border-bottom: 2px solid white;
  font-size: 3em;
}
.message p:nth-child(2){
  line-height: 1.5em;
  color: white;
  font-size: 1.2em;
  /* text-align: justify; */
}
.message p:nth-child(3){
  display: flex;
  row-gap: 1em;
  flex-direction: column;
  font-size: 1.3em;
}
.message p:nth-child(3) a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.form {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}
.form div:nth-child(1){
  display: flex;
  column-gap: 10px;
}
.form div:nth-child(2){
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}
.form input{
  padding: 10px;
  font-size: .8em;
  background-color: white;
  border: none;
}
.form textarea{
  border: none;
  padding: 20px;
  font-size: 1.1em;
  background-color: white;
}
.contact .btn{
  padding: 3px;
  font-size: 1.1em;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: rgb(2, 157, 2);
  color: white;
  transition: .3s;
}
.contact .btn:hover{
  background-color: rgba(0, 239, 239, 0.861);
}

